<%- include('../layouts/admin_layout', {
  title: 'Settings',
  body: `
    <h2>⚙️ Admin Settings</h2>
    <form>
      <label>Change Password:</label><br>
      <input type="password" placeholder="New password" /><br><br>
      <button type="submit">Update</button>
    </form>
  `
}) %>
